*.iml
/MyApplication/.gradle
/MyApplication/local.properties
/MyApplication/.idea/caches
/MyApplication/.idea/libraries
/MyApplication/.idea/modules.xml
/MyApplication/.idea/workspace.xml
/MyApplication/.idea/navEditor.xml
/MyApplication/.idea/assetWizardSettings.xml
/MyApplication/.DS_Store
/MyApplication/build
/MyApplication/captures
/MyApplication/.externalNativeBuild
/demo_mace/.gradle
/demo_mace/local.properties
/demo_mace/.idea/caches
/demo_mace/.idea/libraries
/demo_mace/.idea/modules.xml
/demo_mace/.idea/workspace.xml
/demo_mace/.idea/navEditor.xml
/demo_mace/.idea/assetWizardSettings.xml
/demo_mace/.DS_Store
/demo_mace/build
/demo_mace/captures
/demo_mace/.externalNativeBuild
demo_mace/openCVLibrary341/build/outputs/logs/manifest-merger-debug-report.txt
